###############################################################################
# Use cg-diff to diff LabVIEW CG files
###############################################################################
*.vi diff=cg-diff